@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  /**-------HERO--------- */
  .hero {
    max-width: 768px;
  }
  .hero-heading {
    min-width: 496px;
    margin-bottom: 36px;

    font-size: 56px;
    line-height: 1.07;
  }
  /** -------ABOUT US------- */
  .values-list {
    column-gap: 24px;
    row-gap: 72px;
  }

  .values-list-item {
    width: calc((100% - 24px) / 2);
  }
  /** ------OUR TEAM------ */
  .team > .container {
    max-width: 582px;
  }
  .team-list {
    column-gap: 24px;
    row-gap: 64px;
  }
  /**--------CUSTOMERS-------- */
  .customers > .container {
    max-width: 582px;
  }
  .customers-list-item {
    width: 168px;
  }
  .customers-link {
    width: 168px;
  }
  .customers-icon {
    width: 104px;
  }
  /** ------FOOTER------ */
  .footer > .container {
    max-width: 582px;
  }
}
@media screen and (min-width: 1200px) {
  .container,
  .team > .container,
  .customers > .container {
    max-width: 1158px;
  }
  /**-------HERO--------- */

  .hero {
    max-width: 1158px;
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .hero-heading {
    margin-bottom: 48px;
  }
  .hero-button:is(:hover, :focus) {
    background-color: var(--accent-color);
  }
  /** -------ABOUT US------- */
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .values-list {
    gap: 24px;
  }
  .values-list-item {
    width: calc((100% - 24px * 3) / 4);
  }
  .values-list-heading {
    margin-top: 8px;

    font-weight: 500;
    font-size: 20px;
    text-align: left;
    line-height: 1.2;
  }
  .values-list-text {
    font-weight: 400;
  }
  .icon-wrap {
    display: flex;
  }
  .services {
    display: none;
  }
  /** ------SERVICES------ */

  .services {
    display: flex;
    padding-top: 0;
  }

  .services-list {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .services-list-item {
    width: calc((100% - 24px * 2) / 3);
  }

  .services-heading {
    margin-bottom: 72px;
  }
  /** ------OUR TEAM------ */

  .team-list {
    gap: 24px;
  }

  .team-list-item {
    width: calc((100% - 24px * 3) / 4);
  }

  .team-soc-link:is(:hover, :focus) {
    background-color: var(--accent-color);
  }
  /**--------CUSTOMERS-------- */

  .customers-list {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 24px;
  }

  .customers-link:is(:hover, :focus) {
    border-color: var(--accent-color);
  }
  .customers-link:is(:hover, :focus) .customers-icon {
    fill: var(--accent-color);
  }
}
/** ------FOOTER------ */

/* .footer {
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: var(--hero-footer-background-color);
}

.footer-logo {
  color: var(--footer-logo-color);
}

.footer-text {
  max-width: 264px;
  margin-top: 16px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--footer-text-color);
}
.footer-container {
  display: flex;
}
.logo-wrap {
  margin-right: 120px;
}

.footer-second-text {
  margin-bottom: 16px;

  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.social-links-list {
  display: flex;
  gap: 16px;
}

.social-links-item {
  width: 40px;
  height: 40px;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  background-color: #4d5ae5;

  transition: background-color var(--transition);
}
.social-link:is(:hover, :focus) {
  background-color: #31d0aa;
}
.subsribe-form {
  margin-left: auto;
}
.subscribe-field {
  position: relative;
  display: flex;
  gap: 24px;
}
.subscribe-title {
  margin-bottom: 16px;

  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.subscribe-input {
  width: 264px;
  height: 40px;
  padding: 8px 16px;

  color: #ffffff;
  font-size: 12px;
  border: 1px solid #ffffff;
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: transparent;
}
.subscribe-label {
  position: absolute;
  top: 8px;
  left: 16px;

  color: #ffffffe5;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  transition: transform var(--transition);
}
.subscribe-input:focus + .subscribe-label {
  transform: translateY(-108%);
}
.subscribe-input:not(:placeholder-shown) + .subscribe-label {
  transform: translateY(-108%);
}
.subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 8px 24px;
  border-radius: 4px;
  border: none;
  min-width: 165px;

  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  background-color: #4d5ae5;
  transition: background-color var(--transition), box-shadow var(--transition);
}
.subscribe-btn:is(:hover, :focus) {
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.btn-icon {
  fill: #ffffff;
} */
