@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
    margin-left: auto;
    margin-right: auto;
  }
  .team > .container {
    max-width: 294px;
  }
  .customers-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .customers-list-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  /**-------HERO--------- */
  .hero {
    max-width: 768px;
  }
  .hero-heading {
    min-width: 496px;
    margin-bottom: 36px;

    font-size: 56px;
    line-height: 1.07;
  }
  /** -------ABOUT US------- */
  .values-list {
    column-gap: 24px;
    row-gap: 72px;
  }

  .values-list-item {
    width: calc((100% - 24px) / 2);
  }
  /** ------OUR TEAM------ */
  .team > .container {
    max-width: 582px;
  }
  .team-list {
    column-gap: 24px;
    row-gap: 64px;
  }
  /**--------CUSTOMERS-------- */
  .customers > .container {
    max-width: 582px;
  }
  .customers-list-item {
    width: 168px;
  }
  .customers-link {
    width: 168px;
  }
  .customers-icon {
    width: 104px;
  }
  /** ------FOOTER------ */
  .footer > .container {
    max-width: 582px;
  }
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
  }
  .footer-logo,
  .footer-second-text,
  .subscribe-title {
    text-align: left;
  }
  .subscribe-field {
    display: flex;
    gap: 24px;
  }
  .subscribe-input {
    width: 264px;
    margin-bottom: 0;
  }
  /**-------BACKDROP--------*/
  .modal {
    width: 408px;
  }
  .textarea-field {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .container,
  .team > .container,
  .customers > .container,
  .footer > .container {
    max-width: 1158px;
  }
  /**-------HERO--------- */

  .hero {
    max-width: 1158px;
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .hero-heading {
    margin-bottom: 48px;
  }
  .hero-button:is(:hover, :focus) {
    background-color: var(--accent-color);
  }
  /** -------ABOUT US------- */
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .values-list {
    gap: 24px;
  }
  .values-list-item {
    width: calc((100% - 24px * 3) / 4);
  }
  .values-list-heading {
    margin-top: 8px;

    font-weight: 500;
    font-size: 20px;
    text-align: left;
    line-height: 1.2;
  }
  .values-list-text {
    font-weight: 400;
  }
  .icon-wrap {
    display: flex;
  }
  .services {
    display: none;
  }
  /** ------SERVICES------ */

  .services {
    display: flex;
    padding-top: 0;
  }

  .services-list {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .services-list-item {
    width: calc((100% - 24px * 2) / 3);
  }

  .services-heading {
    margin-bottom: 72px;
  }
  /** ------OUR TEAM------ */

  .team-list {
    gap: 24px;
  }

  .team-list-item {
    width: calc((100% - 24px * 3) / 4);
  }

  .team-soc-link:is(:hover, :focus) {
    background-color: var(--accent-color);
  }
  /**--------CUSTOMERS-------- */

  .customers-list {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 24px;
  }

  .customers-link:is(:hover, :focus) {
    border-color: var(--accent-color);
  }
  .customers-link:is(:hover, :focus) .customers-icon {
    fill: var(--accent-color);
  }
  /** ------FOOTER------ */

  .footer-container {
    justify-content: center;
    gap: 0px;
  }
  .logo-wrap {
    margin-right: 120px;
    margin-bottom: 0;
  }
  .social-links-wrap {
    margin-bottom: 0;
  }

  .social-link:is(:hover, :focus) {
    background-color: #31d0aa;
  }
  .subsribe-form {
    margin-left: auto;
  }
  .subscribe-input,
  .subscribe-label {
    opacity: 1;
  }
  .subscribe-btn:is(:hover, :focus) {
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  /**-------BACKDROP--------*/
  .modal {
    height: 584px;
  }
}
