:root {
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --footer-text-color: #e7e9fc;
  --header-logo-color: #2e2f42;
  --footer-logo-color: #f4f4fd;
  --headings-color: #2e2f42;
  --brand-color: #4d5ae5;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f4f4fd;
  --hero-footer-background-color: #2e2f42;
  --accent-color: #404bbf;
  --header-border-color: #e7e9fc;
  --portfolio-card-border-color: #e7e9fc;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --modal-title-color: #2e2f42;
  --modal-text-color: #8e8f99;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1158px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  outline: 1px solid tomato;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.logo {
  color: var(--brand-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/** ------HEADER------ */

.header {
  border-bottom: 1px solid var(--header-border-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-logo {
  margin-right: 76px;

  color: var(--header-logo-color);
}

.header-container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  position: relative;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  transition: color var(--transition);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.current {
  color: var(--accent-color);
}
.current::after {
  position: absolute;
  bottom: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
  border-radius: 2px;
}

.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  transition: color var(--transition);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/** ------HERO------ */

.hero {
  margin: 0 auto;
  max-width: 1440px;
  padding-top: 188px;
  padding-bottom: 188px;

  background-color: var(--hero-footer-background-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-heading {
  margin: 0 auto;
  max-width: 496px;
  margin-bottom: 48px;

  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.hero-button {
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;

  color: #ffffff;
  background-color: var(--brand-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--transition);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-color);
}

/** ------- What are we doing, Our team, Customers H2-HEADING------- */

.services-heading,
.team-heading,
.customers-heading {
  color: var(--headings-color);

  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
/** -------ABOUT US------- */

.values {
  padding-top: 120px;
  padding-bottom: 60px;
}

.values-list {
  display: flex;
  gap: 24px;
}

.values-list-item {
  width: calc((100% - 24px * 3) / 4);
}
.values-list-heading {
  margin-top: 8px;
  margin-bottom: 8px;

  color: var(--headings-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.values-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  border-radius: 4px;

  background-color: #f4f4fd;
}

/** ------SERVICES------ */

.services {
  padding-top: 60px;
  padding-bottom: 120px;
}

.services-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.services-list-item {
  width: calc((100% - 24px * 2) / 3);
}

.services-heading {
  margin-bottom: 72px;
}

/** ------OUR TEAM------ */

.team {
  padding-top: 120px;
  padding-bottom: 120px;

  background-color: var(--secondary-background-color);
}

.team-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.team-list-item {
  width: calc((100% - 24px * 3) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-heading {
  margin-bottom: 72px;
}
.team-list-heading {
  margin-bottom: 8px;

  color: var(--headings-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
}

.team-list-text {
  margin-bottom: 8px;

  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}

.team-card-footer {
  padding: 32px 16px;

  background-color: var(--primary-background-color);
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}
.team-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  background-color: #4d5ae5;

  transition: background-color var(--transition);
}

.team-soc-link:is(:hover, :focus) {
  background-color: var(--accent-color);
}

/**--------CUSTOMERS-------- */

.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}
.customers-heading {
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.customers-list-item {
  width: 168px;
  height: 88px;
}
.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;

  transition: border-color var(--transition);
}
.customers-icon {
  fill: #8e8f99;
  transition: fill var(--transition);
}
.customers-link:is(:hover, :focus) {
  border-color: var(--accent-color);
}
.customers-link:is(:hover, :focus) .customers-icon {
  fill: var(--accent-color);
}

/** ------FOOTER------ */

.footer {
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: var(--hero-footer-background-color);
}

.footer-logo {
  color: var(--footer-logo-color);
}

.footer-text {
  max-width: 264px;
  margin-top: 16px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--footer-text-color);
}
.footer-container {
  display: flex;
}
.logo-wrap {
  margin-right: 120px;
}

.footer-second-text {
  margin-bottom: 16px;

  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.social-links-list {
  display: flex;
  gap: 16px;
}

.social-links-item {
  width: 40px;
  height: 40px;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  background-color: #4d5ae5;

  transition: background-color var(--transition);
}
.social-link:is(:hover, :focus) {
  background-color: #31d0aa;
}
.subsribe-form {
  margin-left: auto;
}
.subscribe-field {
  position: relative;
  display: flex;
  gap: 24px;
}
.subscribe-title {
  margin-bottom: 16px;

  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.subscribe-input {
  width: 264px;
  height: 40px;
  padding: 8px 16px;

  color: #ffffff;
  font-size: 12px;
  border: 1px solid #ffffff;
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: transparent;
}
.subscribe-label {
  position: absolute;
  top: 8px;
  left: 16px;

  color: #ffffffe5;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  transition: transform var(--transition);
}
.subscribe-input:focus + .subscribe-label {
  transform: translateY(-108%);
}
.subscribe-input:not(:placeholder-shown) + .subscribe-label {
  transform: translateY(-108%);
}
.subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 8px 24px;
  border-radius: 4px;
  border: none;
  min-width: 165px;

  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  background-color: #4d5ae5;
  transition: background-color var(--transition), box-shadow var(--transition);
}
.subscribe-btn:is(:hover, :focus) {
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.btn-icon {
  fill: #ffffff;
}
/** ------PORTFOLIO------ */

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filter-list {
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.portfolio-button {
  padding: 12px 24px;
  border-radius: 4px;

  background-color: #f4f4fd;
  border: 1px solid #e7e9fc;
  color: var(--brand-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;

  transition: background-color var(--transition), color var(--transition),
    border var(--transition), box-shadow var(--transition);
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-list-item {
  width: calc((100% - 24px * 2) / 3);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.img-text {
  position: absolute;
  top: 0;
  height: 100%;
  padding: 40px 32px;

  color: #f4f4fd;
  background-image: linear-gradient(
      0deg,
      rgba(77, 90, 229, 0.1),
      rgba(77, 90, 229, 0.1)
    ),
    url(../images/portfoilio-card-bg.png);
  background-blend-mode: soft-light, normal;
  mix-blend-mode: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  transform: translateY(100%);
  transition: transform var(--transition);
}

.portfolio-list-link:is(:hover, :focus) .img-text {
  transform: translateY(0);
}

.portfolio-list-link {
  display: block;
  transition: box-shadow var(--transition);
}
.portfolio-list-link:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-heading {
  margin-bottom: 8px;

  color: var(--headings-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-list-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.card-footer {
  padding: 32px 0 32px 16px;

  border: 1px solid var(--portfolio-card-border-color);
  border-top: none;
}

/**-------BACKDROP--------*/

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity var(--transition), visibility var(--transition);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 576px;
  padding: 24px;

  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1) rotateZ(0);
  transition: transform var(--transition);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotateZ(180deg);
}

.modal-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  margin-bottom: 24px;

  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: background-color var(--transition), border-color var(--transition);
}

.modal-icon {
  fill: #2e2f42;
  transition: fill var(--transition);
}

.modal-button:is(:hover, :focus) {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.modal-button:is(:hover, :focus) .modal-icon {
  fill: #ffffff;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/**------MODAL-FORM-------*/

.modal-field {
  margin-bottom: 8px;
}
.modal-title {
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 16px;

  color: var(--modal-title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}
.modal-input {
  width: 100%;
  height: 40px;
  padding: 11px 38px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;

  color: #2e2f42;
  font-size: 18px;
  background-color: #fcfcfc;

  transition: border-color var(--transition);
}

.modal-label-text {
  display: inline-block;
  margin-bottom: 4px;

  color: var(--modal-text-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}

.input-wrap {
  position: relative;
}

.modal-form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);

  transition: fill var(--transition);
}
.textarea-field {
  margin-bottom: 16px;
}
.modal-textarea {
  width: 100%;
  height: 120px;
  padding: 8px 16px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;

  background-color: #fcfcfc;
  resize: none;

  transition: border-color var(--transition);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.checkbox-field {
  margin-bottom: 24px;
}
.checkbox-label {
  display: flex;
  align-items: center;
  gap: 3px;

  color: var(--modal-text-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.policy-link {
  color: #4d5ae5;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}
.checkbox-label span {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
  transition: background-color var(--transition), border var(--transition),
    fill var(--transition);
}
.checkbox-input:checked + .checkbox-label span {
  background-color: var(--accent-color);
  border: none;
  fill: #f4f4fd;
}
.submit-btn {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  min-width: 169px;
  margin-top: 24px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  background-color: #4d5ae5;
  color: #ffffff;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;

  transition: background-color var(--transition);
}

.submit-btn:is(:hover, :focus) {
  background-color: var(--accent-color);
}
